<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pruebas Trabajo Final">
    <test name="Tests curso automatización">
        <classes>
            <class name="test.Tests"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->